@import url("https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans+KR|Roboto&display=swap");
$color1: #3e425c;
$color2: #b0b1c5;
$color3: #dee4f1;
$color4: #ffffff;
$color5: #f62828;
$color6: #268f68;
$color7: #2b31ac;
$color8: #ffffff;

.app {
  width: 100%;
  min-width: 1024px;
  height: 100vh;
  margin: 0;
  padding: 0;
  .loading-img {
    position: fixed;
    top: 0;
    left: 30%;
  }
  .loading-text {
    position: fixed;
    top: 70%;
    left: 30%;
  }
}
