@import url("https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans+KR|Roboto&display=swap");
$color1: #3e425c;
$color2: #b0b1c5;
$color3: #dee4f1;
$color4: #ffffff;
$color5: #f62828;
$color6: #268f68;
$color7: #2b31ac;
$color8: #ffffff;

.problem-result-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(122, 114, 226, 0.1);
  top: 0;
  left: 0;
  z-index: 2;
  .problem-result-box {
    position: relative;
    width: 800px;
    height: 700px;
    margin: 200px auto;
    background: $color4;
    border-radius: 20px;
    .code-result-context-wrapper-right {
      float: right;
      height: 75%;
      overflow-y: scroll;
      width: 45%;
      margin: 30px 20px 0 0;
      box-sizing: border-box;
      .code-result-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 40px;
        color: $color1;
        .red {
          color: $color5;
        }
        .blue {
          color: $color7;
        }
        .code-result-context-title {
          font-weight: bold;
        }
      }
    }
    .code-result-context-wrapper-left {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 40px;
      .code-result-context {
        margin: 20px 0;
      }
      .CodeMirror {
        border-radius: 10px;
      }
    }
    .problem-result-btn {
      display: block;
      position: absolute;
      top: 640px;
      left: 350px;
      width: 120px;
      height: 35px;
      box-sizing: border-box;
      padding: 5px 0;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 1px;
      background: $color7;
      border: 1px solid $color7;
      color: $color8;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
    }
    .problem-result-btn:hover {
      background: $color8;
      color: $color7;
    }
  }
  .problem-result-box::after {
    content: "";
    display: block;
    clear: both;
  }
}
