@import url("https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans+KR|Roboto&display=swap");
$color1: #3e425c;
$color2: #b0b1c5;
$color3: #dee4f1;
$color4: #ffffff;
$color7: #2b31ac; 
.home-main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $color4;
  .main-wrapper {
    width: 100%;
    border: 4px solid red;
    padding: 70px 0 0 100px;
  }
}
