@import url("https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans+KR|Roboto&display=swap");
$color1: #3e425c;
$color2: #b0b1c5;
$color3: #dee4f1;
$color4: #ffffff;
$color5: #f62828;
$color6: #268f68;
$color7: #2b31ac;
$color8: #ffffff;

.home-main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $color4;
  .main-wrapper {
    overflow: hidden;
    width: 100%;
    min-width: 1000px;
    box-sizing: border-box;
    padding: 70px 0 0 100px;
    .main-header {
      font-family: "Open Sans", sans-serif;
      color: $color8;
      background: $color7;
      box-sizing: border-box;
      padding: 20px;
      font-size: 20px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 0px 1px 1px rgba(204, 204, 204, 0.7);
      margin: 0 0 30px 0;
    }
    .main-context-wrapper-left {
      float: left;
      width: 50%;
      .popularProblem-wrapper {
        max-width: 600px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        position: relative;
        .popularProblem-title {
          float: left;
          width: 100%;
          color: $color7;
          font-size: 16px;
          margin: 10px 0;
          font-weight: bold;
          letter-spacing: 1px;
          text-shadow: 2px 2px 2px rgba(204, 204, 204, 0.7);
        }
        .popularProblem-problem-title {
          float: left;
          width: 100%;
          color: $color7;
          font-weight: bold;
          font-size: 28px;
          letter-spacing: 2px;
          margin: 0 0 10px 0;
        }
        .popularProblem-problem-level {
          position: absolute;
          top: 10px;
          left: 280px;
          text-align: center;
          width: 70px;
          height: 20px;
          border-radius: 5px;
          font-size: 12px;
          box-sizing: border-box;
          padding: 2px 0 0 0;
          font-weight: 100;
          background: $color7;
          color: $color8;
        }
        .popularProblem-problem-number {
          float: left;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -1px;
          padding: 0 10px 0 0;
        }
        .popularProblem-problem-kinds {
          float: left;
          color: #a2a0aa;
          font-size: 16px;
          letter-spacing: -1px;
          font-weight: 100;
        }
        .popularProblem-problem-description {
          margin: 20px 0 0 0;
          width: 100%;
          float: left;
          box-sizing: border-box;
          padding: 20px;
          border-radius: 10px;
          line-height: 1.5;
          border: 1px solid $color7;
          background: rgba(210, 210, 210, 0.1);
        }
      }
      .popularProblem-wrapper::after {
        content: "";
        clear: both;
        display: block;
      }
      .problem-all-box-wrapper {
        width: 100%;
        overflow: hidden;
        .problem-all-wrapper {
          width: 103%;
          height: 550px;
          overflow-y: scroll;
          box-sizing: border-box;
          padding: 10px;
          margin: 10px 0;
          .problem-all-context-wrapper {
            .line {
              position: absolute;
              top: -3px;
              left: 10px;
              width: 50px;
              height: 3px;
              background: $color7;
            }
            position: relative;
            border-top: 1px solid #d7e2eb;
            border-bottom: 1px solid #d7e2eb;
            width: 48%;
            margin: 10px 1%;
            float: left;
            box-sizing: border-box;
            padding: 10px;
            .problem-all-level {
              float: left;
              width: 100%;
              color: $color7;
            }
            .problem-all-title {
              float: left;
              width: 100%;
              font-size: 14px;
              font-weight: bold;
              margin: 10px 0;
            }
            .problem-all-success {
              float: left;
              color: #a2a0aa;
              text-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
              padding: 0 10px 0 0;
            }
          }
          .problem-all-context-wrapper::after {
            content: "";
            clear: both;
            display: block;
          }
        }
        .problem-all-wrapper::after {
          content: "";
          clear: both;
          display: block;
        }
      }
    }
    .main-context-wrapper-right {
      float: right;
      width: 50%;
      .user-ranking-header {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px 0 0;
        color: $color7;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
        letter-spacing: 1px;
        margin: 0 0 10px 0;
      }
      .user-ranking-table {
        margin: 0 10% 0 0;
        min-width: 550px;
        width: 90%;
        .winner {
         background: rgba(181, 169, 248, 0.2);
        }
        .ranking-wrapper {
          float: left;
          max-width: 500px;
          width: 100%;
          border-top: 1px solid rgba(204, 204, 204, 0.5);
          border-bottom: 1px solid rgba(204, 204, 204, 0.5);
          .ranking {
            width: 45px;
            box-sizing: border-box;
            text-align: left;
            float: left;
            font-size: 20px;
            font-weight: bold;
            padding: 15px 10px 0 10px;
          }
          .profile {
            float: left;
            width: 50px;
            height: 60px;
            box-sizing: border-box;
            padding: 5px 0;
            .picture {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 1px solid $color7;
            }
          }
          .name {
            width: 50px;
            float: left;
            padding: 20px 0 0 0;
            margin: 0 0 0 15px;
          }
          .level {
            color: $color7;
            width:100px;
            float: left;
            padding: 15px 0 0 0;
            margin: 0 10px;
            .level-text {
              text-align: center;
              box-sizing: border-box;
              padding: 5px 0;
              width: 75px;
              font-size: 12px;
              border-radius: 5px;
              background: $color8;
              color: $color7;
              border: 1px solid $color7;
            }
          }
          .point {
            width: 100px;
            float: left;
            padding: 20px 0 0 0;
            margin: 0 10px;
          }
          .classes {
            box-sizing: border-box;
            padding: 5px 0 0 0;
            width: 45px;
            float: left;
            .classes-img {
              width: 100%;
            }
          }
        }
        .ranking-wrapper::after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .user-ranking-table::after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .main-wrapper::after {
    content: "";
    clear: both;
    display: block;
  }
}
