@import url("https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans+KR|Roboto&display=swap");
$color1: #3e425c;
$color2: #a2bfbd;
$color3: #dee4f1;
$color4: #dee4f1;
$color6: #268f68;
$color7: #2b31ac;
$color8: #ffffff;

.side-header-wrapper {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  width: 100px;
  height: 100vh;
  position: fixed;
  color: $color8;
  background: $color7;
  padding: 80px 0 0 0;
  text-align: center;
  z-index: 996;
  .icon-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    .icon {
      box-sizing: border-box;
      padding: 10px 12px 5px 15px;
      width: 70%;
      margin: 0;
    }
    .side-icon-text {
      width: 100%;
      color: $color8;
      margin: 5px 0;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
  .icon-wrapper-problem-mode {
    width: 100%;
    box-sizing: border-box;
    background: $color8;
    margin: 20px 0 20px 0;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    .icon {
      box-sizing: border-box;
      padding: 10px 12px 5px 15px;
      width: 70%;
      margin: 0;
    }
    .side-icon-text {
      width: 100%;
      color: $color7;
      margin: 5px 0;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}

.side-header-wrapper-detail-mode {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  width: 180px;
  height: 100vh;
  position: fixed;
  color: $color8;
  background: $color7;
  padding: 80px 0 0 0;
  text-align: center;
  z-index: 996;
  .icon-wrapper-detail-mode {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
    text-align: center;
    border: 1px solid $color7;
    cursor: pointer;
    .icon-wrapper {
      display: block;
      width: 40%;
      float: left;
      .icon {
        box-sizing: border-box;
        padding: 10px 12px 5px 15px;
        width: 90%;
        margin: 0;
      }
    }
    .side-icon-text {
      float: left;
      width: 60%;
      color: $color8;
      text-align: left;
      margin: 20px 0px 0 0;
      font-size: 16px;
      letter-spacing: 2px;
    }
  }
  .icon-wrapper-detail-mode:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  .icon-wrapper-detail-mode::after {
    content: "";
    display: block;
    clear: both;
  }
}

.side-problem-content-wrapper {
  width: 280px;
  position: fixed;
  top: 0;
  left: 100px;
  height: 100vh;
  overflow: hidden;
  z-index: 996;
  box-shadow: 1px 1px 1px 1px rgba(204, 204, 204, 0.5);
  .side-problem-wrapper {
    background: $color3;
    height: 100vh;
    overflow-y: scroll;
    width: 300px;
    box-sizing: border-box;
    padding: 80px 0 0 0;
    .side-problem-header {
      font-size: 12px;
      width: 80%;
      margin: 10px auto;
      color: $color1;
      font-weight: bold;
    }
  }
}
